<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>
			{% block title %}Code2Prod
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('images/logo.svg')}}">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
		{% endblock %}
		<script src="{{ asset('js/handle-scroll-to-top.js')}}" defer></script>
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% set route_name = app.request.attributes.get('_route') %}
		{% include "_partials/_navbar.html.twig" %}
		{% block body %}{% endblock %}
		<button class="btn btn-primary" id="scrollToTopBtn"><img src="{{ asset('images/icons/chevron_up.svg')}}" alt="icone de chevron haut" ></button>
		{% include "_partials/_footer.html.twig" %}
	</body>
</html>
