{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Détails du Projet
{% endblock %}

{% block body %}
	{% include "/project/_header.html.twig" %}
	<div class="container container-project px-0">
		<section class="section section-1 section-ltr">
			<h2 class="mb-3 text-center">Pourquoi ce pipeline ?</h2>
			<h3 class="subtitle h6 text-center fw-bold mb-5 px-3">Une solution pensée pour en finir avec les galères de déploiement</h3>
			<div class="wrapper d-flex flex-column-reverse flex-lg-row align-items-center">
				<div class="wrapper-content px-3 px-xl-5">
					<p class="mb-2">Déployer du code, c'est souvent la partie la moins fun du développement. Entre les erreurs manuelles, les validations oubliées, et le stress du dernier moment… ça finit souvent en casse-tête.</p>
					<p class="mb-2">Ce pipeline change la donne :</p>
					<ul class="list-group mb-2">
						<li class="list-group-item bg-light-orange">🚀 Automatisation totale : Il fait le boulot pendant que vous codez (ou prenez un café).</li>
						<li class="list-group-item bg-light-orange">🔒 Fiabilité : Plus de bugs qui apparaissent après coup, tout est validé en amont.</li>
						<li class="list-group-item bg-light-orange">✨ Productivité boostée : Vous gagnez du temps et vos nuits blanches deviennent un lointain souvenir.</li>
					</ul>
				</div>
				<div class="wrapper-illustration px-3 px-xl-5 mb-5 mt-lg-0">
					<img src="{{ asset('images/dp-s1.png') }}" alt="cicd illustration">
				</div>
			</div>
		</section>
		<section class="section section-2 section-rtl">
			<h2 class="mb-3 text-center">Ce qui se passe en arrière-plan</h2>
			<h3 class="subtitle h6 text-center fw-bold mb-5 px-3">Un workflow solide qui fait tout le travail pour vous</h3>
			<div class="wrapper d-flex flex-column flex-lg-row align-items-center">
				<div class="wrapper-illustration px-3 px-xl-5 mb-5 mb-lg-0">
					<img src="{{ asset('images/dp-s2.png') }}" alt="plan du process">
				</div>
				<div class="wrapper-content px-3 px-xl-5">
					<p class="mb-2">Derrière sa simplicité d'utilisation, ce pipeline regorge de fonctionnalités robustes :</p>
					<p class="mb-2">Intégration Continue (CI) :</p>
					<ul class="list-group mb-3">
						<li class="list-group-item">Chaque commit est scanné par SonarQube, qui traque les bugs, les vulnérabilités, et les mauvaises pratiques.</li>
						<li class="list-group-item">Les fichiers de configuration Symfony sont vérifiés pour éviter les erreurs de compatibilité.</li>
					</ul>
					<p class="mb-2">Livraison Continue (CD) :</p>
					<ul class="list-group mb-3">
						<li class="list-group-item">Une image Docker est construite et envoyée sur Docker Hub, prête à être utilisée.</li>
					</ul>
					<p class="mb-2">Déploiement Automatique :</p>
					<ul class="list-group mb-2">
						<li class="list-group-item">Le serveur récupère automatiquement l'image Docker, la déploie avec Docker Compose, et nettoie les anciennes versions pour optimiser les ressources.</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="section section-3 section-ltr">
			<h2 class="mb-3 text-center">Du code à la prod, comme un jeu d'enfant</h2>
			<h3 class="subtitle h6 text-center fw-bold mb-5 px-3">Chaque étape optimisée pour un déploiement sans effort</h3>
			<div class="wrapper d-flex flex-column-reverse flex-lg-row align-items-center mb-0 mb-lg-5">
				<div class="wrapper-content px-3 px-xl-5">
					<p class="mb-2">Voici un aperçu des étapes que suit le pipeline :</p>
					<ul class="list-group mb-2">
						<li class="list-group-item bg-light-orange">Push du Code : Vous poussez votre code dans le dépôt Git.</li>
						<li class="list-group-item bg-light-orange">Analyse et Validation : Le pipeline exécute des tests, scanne le code, et s'assure que tout est en ordre.</li>
						<li class="list-group-item bg-light-orange">Build Docker : Une image propre est générée avec toutes les dépendances nécessaires.</li>
						<li class="list-group-item bg-light-orange">Déploiement : Le serveur met tout en production automatiquement, sans intervention.</li>
					</ul>
					<p class="text-pretty">Chaque étape est optimisée pour minimiser les erreurs et garantir un déploiement rapide. Ci-dessous un aperçu du workflow de github :</p>
				</div>
				<div class="wrapper-illustration px-3 px-xl-5 mb-5 mt-lg-0">
					<img src="{{ asset('images/dp-s3.png') }}" alt="codeur illustration">
				</div>
			</div>
			<div class="wrapper-illustration-xl d-none d-lg-block px-0 px-md-2 px-xl-5 mb-5 mb-lg-0">
				<div class="wrapper-img active p-2">
					<img src="{{ asset('images/dp-s201.png') }}" width="1200" height="645" alt="capture ecran github actions">
				</div>
				<div class="wrapper-img p-2">
					<img src="{{ asset('images/dp-s202.png') }}" width="1200" height="645" alt="capture ecran github actions">
				</div>
				<div class="wrapper-img p-2">
					<img src="{{ asset('images/dp-s203.png') }}" width="1200" height="645" alt="capture ecran github actions">
				</div>
				<div class="wrapper-img p-2">
					<img src="{{ asset('images/dp-s204.png') }}" width="1200" height="645" alt="capture ecran github actions">
				</div>
			</div>
		</section>
		<section class="section section-4 section-rtl">
			<h2 class="mb-3 text-center">Une Boîte à Outils Puissante et Moderne</h2>
			<h3 class="subtitle h6 text-center fw-bold mb-5 px-3">Des technologies fiables pour des résultats impeccables</h3>
			<div class="wrapper d-flex flex-column-reverse flex-lg-row align-items-center">
				<div class="wrapper-content px-3 px-xl-5">
					<p class="mb-2">Ce pipeline s'appuie sur des technologies fiables et largement reconnues :</p>
					<ul class="list-group mb-2">
						<li class="list-group-item">SonarQube : Analyseur de code pour garantir des standards de qualité élevés.</li>
						<li class="list-group-item">Docker & Docker Compose : Conteneurisation pour des déploiements reproductibles et stables.</li>
						<li class="list-group-item">Docker Hub : Stockage des images, accessible depuis n'importe où.</li>
						<li class="list-group-item">GitHub Actions : Automatisation des workflows, pour que tout s'exécute dans l'ordre et sans intervention manuelle.</li>
					</ul>
					<p>Ces outils sont là pour assurer une expérience utilisateur sans accroc, même sur des projets complexes.</p>
				</div>
				<div class="wrapper-illustration px-3 px-xl-5 mb-5 mb-lg-0">
					<img src="{{ asset('images/dp-s4.svg') }}" alt="logos docker sonarqube github">
				</div>
			</div>
		</section>
		<section class="section section-5 section-rtl">
			<h2 class="mb-3 text-center">Un projet conçu pour illustrer mon expertise</h2>
			<h3 class="subtitle h6 text-center fw-bold mb-5 px-3">Un exemple concret de savoir-faire en action</h3>
			<div class="wrapper d-flex flex-column flex-lg-row align-items-center">
				<div class="wrapper-illustration px-3 px-xl-5 mb-5 mb-lg-0">
					<img src="{{ asset('images/dp-s5.png') }}" alt="zoom sur pc illustration">
				</div>
				<div class="wrapper-content px-3 px-xl-5">
					<p class="mb-2">Ce pipeline n'a pas pour vocation d'être utilisé ou partagé comme une solution prête à l'emploi. Son véritable objectif ? Montrer comment je résous les défis techniques et illustrer ma maîtrise des outils modernes.</p>
					<p class="mb-2">Voici ce que ce projet démontre :</p>
					<ul class="list-group mb-2">
						<li class="list-group-item bg-light-orange">Mon approche méthodique : Chaque étape du pipeline a été pensée pour répondre à des problématiques concrètes rencontrées dans des projets réels.</li>
						<li class="list-group-item bg-light-orange">Mon expertise DevOps : De l'intégration continue à la livraison, j'ai conçu une solution qui automatise tout en respectant les bonnes pratiques.</li>
						<li class="list-group-item bg-light-orange">Ma capacité à expliquer des concepts techniques : Ce projet est là pour rendre clair ce qui est souvent complexe, en le présentant de manière organisée et compréhensible.</li>
					</ul>
					<p>En résumé : Ce pipeline n'est pas un produit, mais une démonstration concrète de mes compétences et de ma capacité à concevoir des solutions robustes et pédagogiques.</p>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/anim-sliders.js') }}" defer></script>
{% endblock %}
